<div id="main">
    <div ng-controller="ClientController as clients">

        <div class="client-label">
            Network
        </div>
        <div class="client-float">
            <select ng-model="selected" ng-options="client as client.vid.name for client in clients track by client._id"></select>
        </div>

        <span class="client-boot-checkbox">
            <input type="checkbox" name="boot-enabled" ng-model="selected" ng-checked="selected.enabled">
        </span>
        <div class="client-checkbox-label">Enable at boot</div>

        <div class="client-label">Splash Page</div>
        <div class="client-float">
            <select ng-model="selected" ng-options="client as client.splash for client in clients track by client._id" disabled></select>
        </div>
        <div class="client-clear">&nbsp;</div>

        <hr>
        <div class="bold-label">Bearers</div>
        <div ng-model="selected" ng-repeat="bearer in selected.bearers">
            <div>{{ bearer._id }}</div>
        </div>

        <hr>
        <div class="bold-label client-section-label">Network</div>
        <div class="text-input-label client-float">IP Address</div>
        <div ng-model="selected">{{ selected.ipaddr }}</div>
        <div class="client-clear">&nbsp;</div>
        <div class="text-input-label client-float">Netmask</div>
        <div ng-model="selected">{{ selected.netmask }}</div>
        <div class="client-clear">&nbsp;</div>

        <div ng-if="selected.dhcp">
            <hr>
            <div class="bold-label client-section-label">DHCP</div>
            <span class="client-float">
                <input type="checkbox" name="enable-dhcp" disabled ng-model="selected" ng-checked="selected.dhcp">
            </span>
            <div class="client-checkbox-label">Enable DHCP Server</div>
            <div class="client-clear">&nbsp;</div>
            <div ng-model="selected">
                <div class="text-input-label client-float">Address Range</div>
                <div ng-model="selected">{{ selected.dhcp_range }}</div>
            </div>
            <div class="client-clear">&nbsp;</div>
        </div>

        <div ng-if="selected.aps.length>0">
            <hr>
            <div class="bold-label client-section-label">WiFi Access Points</div>
            <div class="client-head">Name</div>
            <div class="client-head">SSID</div>
            <div class="client-head">Password</div>
            <div class="client-head">Hidden</div>
            <div class="client-clear">&nbsp;</div>

            <div ng-repeat="ap in selected.aps">
                <div class="client-col">{{ ap.radio.name }}</div>
                <div class="client-col">{{ ap.ssid }}</div>
                <div class="client-col">{{ ap.psk }}</div>
                <div class="client-col">
                    <input type="checkbox" name="ssid-hidden" ng-checked="selected.aps[0].hidden">
                </div>
            </div>
        </div>

    </div>
</div>