<md-dialog class="md-dialog" aria-lable="Save Configuration" data-aut="menu-saveConfig-mdDialog-saveSuccess">
  <md-dialog-content class="md-dialog-content">
    <h3 class="md-title config-toast-text">
      <span>Your configuration has been saved </span>
      <span><img class="config-saved-check" src="img/check-green.svg"></span>
    </h3>
    <span class="config-toast-text">Restart your LRU for the changes to take effect</span>
  </md-dialog-content>
  <md-dialog-actions class="md-actions" layout="row">
    <md-button class="md-warn" tabindex="1" md-autofocus ng-click="restart()" data-aut="menu-saveConfig-button-restart">Restart</md-button>
  </md-dialog-actions>
</md-dialog>
