<md-card>
  <md-card-title>
    <div layout="row" class="device-card-title">
      <h1 flex="grow" class="md-title">{{atg.name || atg._id}}</h1>
      <md-checkbox flex="initial" flex-sm="50" class="bearer-enabled-checkbox" ng-model="atg.enabled" ng-change="change()">Bearer Enabled</md-checkbox>
    </div>
  </md-card-title>
  <md-card-content layout="row" ng-show="atg.enabled">
    <div layout="column" flex="45">
      <md-input-container flex="auto">
        <label for="ipAddr">IP Address</label>
        <input type="text" ng-model="atg.ipaddr" id="ipAddr" class="bearer-input ng-pristine ng-untouched ng-valid" disabled="" aria-invalid="false">
      </md-input-container>
    </div>
    <div layout="column" flex="45">
      <md-input-container>
        <label for="atgPort">Port</label>
        <input name="lastName" ng-model="atg.port" id="atgPort" class="ng-pristine ng-untouched ng-valid md-input" disabled="" aria-invalid="false">
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <div layout="row" class ="md-action-response" ng-show="confirmed">
      <img flex src="img/check-green.svg">
    </div>
    <div layout="row" class="md-action-response" ng-show="failed">
      <div flex="initial">Error: Failed To Confirm Configuration</div>
      <img flex src="img/exclpt-red.svg">
    </div>
    <md-button ng-click="confirmAtgConfig(atg)">Confirm</md-button>
  </md-card-actions>
</md-card>
