<md-card ng-controller="TmController as tm">
  <md-card-title>
    <div layout="row" class="device-card-title">
      <h1 flex="grow" class="md-title">TM</h1>
      <md-checkbox flex="initial" flex-sm="50" ng-model="tm.enabled" class="bearer-enabled-checkbox" disabled="">Bearer Enabled</md-checkbox>
    </div>
  </md-card-title>
  <md-card-content layout="row" ng-if="tm.enabled">
    <div layout="column" flex="45">
      <md-input-container>
        <label for="tmApn">APN</label>
        <input ng-model="tm.apn" id="tmApn" class="ng-pristine ng-untouched ng-valid md-input" aria-invalid="false" ng-value="tm.apn" disabled="">
      </md-input-container>
    </div>
  </md-card-content>
</md-card>

